body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Libre Baskerville', serif;
	color: #424242;
	text-rendering: optimizeLegibility;
	font-size: 20px;
}

main {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;

	margin: 3em 0 0 0;
}

a {
	color: inherit;
	font-style: italic;
	text-decoration: underline;
}

a:hover {
	background: #424242;
	color: #fff
}

#glass {
	z-index: -1;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.60);
}

#PageNumber {
	margin-right: 0.5em;
}

.imprint {
	text-align: center;
	font-style: italic;
	font-weight: 400;
	font-size: 0.8em;
}

.heading {
	border-top: 4px solid #424242;
	font-size: 1.45em;
	font-weight: 700;
}

.subheading {
	font-size: 1em;
	font-style: italic;
	font-weight: 400;
	margin-top: -2px;
}

.title {
	text-align: right;
	padding: 0;
	/* add margin at the bottom for mobile stack, top offset for same baseline as text */
	margin: -14px 0 1em 0;
	line-height: 1.375;
}

@media (max-width: 992px) {
	.title {
		text-align: center;
  }
}

.content {
	/* Size/Padding/Margin */
	margin:0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	/* Font */
	color: inherit;
	font-family: inherit;
	line-height: 1.375;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
}

.question {
	margin-bottom: 3em;
}

#entry {
	/* Textarea specifics */
	resize: none; /* Remove resize handle */
	overflow: auto; /* Remove default scrollbars in Internet Explorer */
	outline: none; /* Remove the blue glow */
	border: none; /* Remove border */
	background: transparent;
	white-space: pre-wrap;

	/* remove default textarea padding */
	padding: 0 0 0 0;

	text-rendering: optimizeLegibility;
}


/* Highlightning with cusor */
::selection {
	background: #424242;
	color: #fff
}
::-moz-selection {
	background: #424242;
	color: #fff
}
