body {
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Libre Baskerville', serif;
	color: #444;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	font-size: 24px;
	margin: 0;
  padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#glass {
	z-index: -1;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.60);
}


#footer {
	text-align: center;
	font-style: italic;
	font-weight: 400;
	border-top: solid 5px;
}

#imprint {
	text-align: right;
	font-style: italic;
	font-weight: 400;
	font-size: 0.8em;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.right {
	text-align: right;
}

.heading {
	font-size: 1.33em;
	font-weight: 700;
}

.subheading {
	font-size: 1.1em;
	font-style: italic;
	font-weight: 400;

}
.container {
	/* margin whole page from the top */
	margin: 2em 0 0 0;
}

.title {
	text-align: right;
	border-top: 5px solid #444;
	line-height: 1.23;

	/* add margin at the bottom for mobile stack */
	margin: 0 0 1em 0;
	padding: 0 0 0 0;
}

.content {
	background-color: transparent;
}

#entry {
	/* Size/Padding/Margin */
	margin:0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;

	/* Font */
	color: inherit;
	font-family: inherit;
	line-height: 1.5;
	font-size: 1em;
	font-weight: 400;

	/* Textarea specifics */
	resize: none; /* Remove resize handle */
	overflow: auto; /* Remove default scrollbars in Internet Explorer */
	outline: none; /* Remove the blue glow */
	border: none; /* Remove border */
	background: transparent;

	text-align: justify;
	white-space: pre-wrap;
}


/* Highlightning with cusor */
::selection {
	background: #444;
	color: #fff
}
::-moz-selection {
	background: #444;
	color: #fff
}
