body {
	color: #444;
	font-family: 'Merriweather', serif;
	text-align:justify;
	-webkit-font-smoothing: subpixel-antialiased;

  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}

#glass {
	z-index:-1;
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: rgba(255, 255, 255, 0.60);
	
}

#content {
	padding: 2em 2em 1em 2em;
}

#footer {
	position: fixed;
	bottom:0;
}

/* Highlightning with cusor */
::selection {
	background: #fff;
}
::-moz-selection {
	background: #fff;
}

h1, h2, h3, h4, h5, h6, p, a, blockquote, code, em, img, small, li, ol, ul, fieldset, form, label, legend, button, table, caption, tr, th, td, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
	line-height: 1;
	font-family: inherit;
	opacity:1;
}


h2 {
	text-align: left;
	font-family: 'Merriweather Sans', sans-serif;
	line-height: 1;
	letter-spacing: -0.04em;
	font-size: 56px;
	font-weight: 400;
}

p {
	margin: 1.5em 0 0 0;
	color: inherit;
	font-family: inherit;
	line-height: 1.5;
	font-size: 36px;
	font-weight: 400;
}

.links {
	text-align:center;
}

blockquote {
  border-left: 10px solid #444;
  margin: 1.5em 2em 1em 2em;
  padding: 0.5em 10px;

	/* Font */
	color: inherit;
	font-family: inherit;
	font-style:italic;
	line-height: 1.5;
	font-size: 36px;
	font-style:italic;
	font-weight: 400;
}

blockquote:before {
  color: #444;
  content: open-quote;
  font-size: 1.5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

a {
	color:inherit;
	font-weight:700;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}


textarea {
	/* Size/Padding/Margin */
	margin: 1.5em 0 4em 0;
	padding: 0em 0em 0em 0em;
	width: 100%;
	height: 70vh;

	/* Font */
	color: inherit;
	font-family: inherit;
	line-height: 1.5;
	font-size: 32px;
	font-weight: 400;

	text-rendering: optimizeLegibility;

	/* Textarea specifics */	
	resize: none; /* Remove resize handle */
	overflow: auto; /* Remove default scrollbars in Internet Explorer */
	outline: none; /* Remove the blue glow */
	border: none; /* Remove border */
	text-align:justify;
	background:transparent;
}

video#bgvid {

}
